#show-items {
  display: none;
}

.item {
  cursor: pointer;
  color: #0088cc;
}

.item:hover {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
  color: red;
}

body {
  background-color: DarkTurquoise;
}
